# fly.toml app configuration file generated for wisprflow-stream on 2026-02-16T09:26:23-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wisprflow-stream'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
